<div class="container">
	<div class="screen">
		<div class="screen__content">		
			
			<form class="login">
				
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input [(ngModel)]="username" type="text" class="login__input" placeholder="User name / Email" name = "userinput">
				</div>
		
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input [(ngModel)]="password" type="password" class="login__input" placeholder="Password" name = "passinput">
				</div>
				
				<button (click) = "login()" class="button login__submit" name="btnlogin">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>

			</form>
		
		</div>	
	</div>
</div>
